.background-image {
    background-image: linear-gradient(to right bottom, rgba(47, 69, 141, 0.7), rgba(57, 153, 116, 0.274)), url("http://www.sashasasha.tech/background/wall.jpg");
        min-height: 750px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
}

.experience {
    background-color:#025C99;
    margin-top:200px;
    color:white;
    text-align: center;
    padding:100px 100px 0px 100px;
}

.background-color-xp {
    background-color: #025C99;
    padding:100px;
}

.line {
    border: white solid 1px;
    width:150px;
    margin: 0 auto;
    
}


